@font-face {
  font-family: "ChunkFive";
  src: url('../fonts/Chunkfive-webfont.eot?1334654416');
  src: url('../fonts/Chunkfive-webfont.eot?&1334654416#iefix') format('embedded-opentype'), url('../fonts/Chunkfive.otf?1370368588') format('opentype'), url('../fonts/Chunkfive-webfont.svg?1334654416') format('svg'), url('../fonts/Chunkfive-webfont.ttf?1334654416') format('truetype'), url('../fonts/Chunkfive-webfont.woff?1334654416') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Regular-webfont.eot?1413262984');
  src: url('../fonts/OpenSans-Regular-webfont.eot?&1413262984#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.ttf?1413262984') format('truetype'), url('../fonts/OpenSans-Regular-webfont.woff?1413262984') format('woff'), url('../fonts/OpenSans-Regular-webfont.svg?1413262984') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "FoundationIcons";
  src: url('../fonts/general_enclosed_foundicons.eot?1344586060');
  src: url('../fonts/general_enclosed_foundicons.eot?&1344586060#iefix') format('embedded-opentype'), url('../fonts/general_enclosed_foundicons.svg?1344586060') format('svg'), url('../fonts/general_enclosed_foundicons.ttf?1344586060') format('truetype'), url('../fonts/general_enclosed_foundicons.woff?1344586060') format('woff');
  font-weight: normal;
}
/* line 104, social/*.png */
.social-sprite, .footer .social li.facebook a, .footer .social li.facebook a:hover, .footer .social li.twitter a, .footer .social li.twitter a:hover, .footer .social li.linkedin a, .footer .social li.linkedin a:hover, .footer .social li.dribbble a, .footer .social li.dribbble a:hover {
  background-image: url('../images/social-s8db2d90934.png');
  background-repeat: no-repeat;
}

/* line 22, ../sass/style.scss */
.top-bar .name h1 {
  font-family: "ChunkFive", Arial, sans-serif;
  text-transform: uppercase;
}

/* line 31, ../sass/style.scss */
.footer {
  margin-top: 1.5625em;
}
/* line 33, ../sass/style.scss */
.footer a {
  color: #473016;
}
/* line 36, ../sass/style.scss */
.footer .footnav {
  margin: 0.3125em 0 0 0;
}
/* line 39, ../sass/style.scss */
.footer li {
  margin-left: 0;
  margin-right: 0.9375em;
}
/* line 44, ../sass/style.scss */
.footer a:hover {
  text-decoration: underline;
}
/* line 52, ../sass/style.scss */
.footer .social ul {
  float: right;
}
/* line 56, ../sass/style.scss */
.footer .social li a {
  display: inline-block;
  height: 32px;
  width: 32px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 64, ../sass/style.scss */
.footer .social li.facebook a {
  background-position: 0 -96px;
}
/* line 59, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.footer .social li.facebook a:hover, .footer .social li.facebook a.facebook-hover {
  background-position: 0 -64px;
}
/* line 66, ../sass/style.scss */
.footer .social li.facebook a:hover {
  background-position: 0 -64px;
}
/* line 70, ../sass/style.scss */
.footer .social li.twitter a {
  background-position: 0 -224px;
}
/* line 59, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.footer .social li.twitter a:hover, .footer .social li.twitter a.twitter-hover {
  background-position: 0 -192px;
}
/* line 72, ../sass/style.scss */
.footer .social li.twitter a:hover {
  background-position: 0 -192px;
}
/* line 76, ../sass/style.scss */
.footer .social li.linkedin a {
  background-position: 0 -160px;
}
/* line 59, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.footer .social li.linkedin a:hover, .footer .social li.linkedin a.linkedin-hover {
  background-position: 0 -128px;
}
/* line 78, ../sass/style.scss */
.footer .social li.linkedin a:hover {
  background-position: 0 -128px;
}
/* line 82, ../sass/style.scss */
.footer .social li.dribbble a {
  background-position: 0 -32px;
}
/* line 59, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.footer .social li.dribbble a:hover, .footer .social li.dribbble a.dribbble-hover {
  background-position: 0 0;
}
/* line 84, ../sass/style.scss */
.footer .social li.dribbble a:hover {
  background-position: 0 0;
}

/* line 95, ../sass/style.scss */
.button {
  border: 0;
  -moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
}

/* line 100, ../sass/style.scss */
.content {
  margin-top: 1.875em;
  background-color: #fff;
}
/* line 104, ../sass/style.scss */
.content .intro {
  padding: 1.25em 0;
  background-color: #c2bdb7;
  color: #fff;
  margin-bottom: 1.25em;
}
/* line 110, ../sass/style.scss */
.content .intro .button {
  margin-top: 1.25em;
  background-color: #a8bb26;
  width: 100%;
}
/* line 114, ../sass/style.scss */
.content .intro .button:hover {
  background-color: #c4d73d;
}

/* line 124, ../sass/style.scss */
.title-section {
  margin-bottom: 0.875em;
  padding-bottom: 0.875em;
  border-bottom: 0.1875em solid #e6e6e6;
}

/* line 129, ../sass/style.scss */
.title-section-secondary, .home h4, .about .story > .columns > .row h4 {
  margin-bottom: 0.875em;
  padding-bottom: 0.875em;
  border-bottom: 0.1875em solid #d9b183;
}

/* line 135, ../sass/style.scss */
.orbit-container {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjJlYSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-radial-gradient(#ffffff, #f4f2ea);
  background: -webkit-radial-gradient(#ffffff, #f4f2ea);
  background: radial-gradient(#ffffff, #f4f2ea);
}
/* line 137, ../sass/style.scss */
.orbit-container a.orbit-prev, .orbit-container a.orbit-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}
/* line 142, ../sass/style.scss */
.orbit-container:hover a.orbit-prev, .orbit-container:hover .orbit-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 147, ../sass/style.scss */
.orbit-container .orbit-bullets,
.orbit-container .orbit-timer,
.orbit-container .orbit-slide-number {
  display: none;
}
/* line 152, ../sass/style.scss */
.orbit-container li {
  padding: 1.25em 2.5em;
}
/* line 154, ../sass/style.scss */
.orbit-container li:nth-child(1) {
  background: url('../images/desktop.png?1361813776') no-repeat left bottom;
}
/* line 157, ../sass/style.scss */
.orbit-container li:nth-child(2) {
  background: url('../images/editor.png?1361813982') no-repeat left bottom;
}
/* line 160, ../sass/style.scss */
.orbit-container li:nth-child(3) {
  background: url('../images/macbook.png?1361814388') no-repeat left bottom;
}
/* line 163, ../sass/style.scss */
.orbit-container li:nth-child(4) {
  background: url('../images/panel.png?1361814704') no-repeat left bottom;
}
/* line 168, ../sass/style.scss */
.orbit-container h3 {
  padding: 1.25em;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 172, ../sass/style.scss */
.orbit-container h3 + p {
  padding: 1.25em;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 1.25em;
}

/* line 181, ../sass/style.scss */
.home {
  padding-bottom: 1.5625em;
}
/* line 182, ../sass/style.scss */
.home p, .home li, .home label {
  font-weight: 300;
}
/* line 185, ../sass/style.scss */
.home h4 {
  padding-left: 1.75em;
  position: relative;
}
/* line 190, ../sass/style.scss */
.home h4:before {
  content: "";
  display: inline-block;
  padding: 0.3125em 0;
  width: 1.75em;
  height: 1.75em;
  position: absolute;
  left: 0;
  bottom: 0.3125em;
  font-family: "FoundationIcons";
  font-size: 1.375em;
}
/* line 205, ../sass/style.scss */
.home .feature:nth-of-type(1) h4:before {
  content: "\f000";
}
/* line 208, ../sass/style.scss */
.home .feature:nth-of-type(2) h4:before {
  content: "\f00a";
}
/* line 211, ../sass/style.scss */
.home .feature:nth-of-type(3) h4:before {
  content: "\f00e";
}
/* line 214, ../sass/style.scss */
.home .feature:nth-of-type(4) h4:before {
  content: "\f01e";
}

/* line 224, ../sass/style.scss */
.top-bar .name h1 a {
  font-weight: normal;
}

/* line 225, ../sass/style.scss */
.top-bar .toggle-topbar a {
  font-weight: normal;
}

/* line 226, ../sass/style.scss */
.top-bar.expanded .toggle-topbar a {
  color: #5ad4ff;
}

/* line 227, ../sass/style.scss */
.top-bar.expanded .toggle-topbar a span {
  -webkit-box-shadow: 0 10px 0 1px #5ad4ff, 0 16px 0 1px #5ad4ff, 0 22px 0 1px #5ad4ff;
  box-shadow: 0 10px 0 1px #5ad4ff, 0 16px 0 1px #5ad4ff, 0 22px 0 1px #5ad4ff;
}

/* line 233, ../sass/style.scss */
.page {
  padding-top: 1.5625em;
  padding-bottom: 1.5625em;
}
/* line 236, ../sass/style.scss */
.page p, .page li, .page label {
  font-weight: 300;
}
/* line 243, ../sass/style.scss */
.page .panel {
  color: #4d4d4d;
  margin-top: 1.5625em;
  margin-bottom: 0;
}
/* line 244, ../sass/style.scss */
.page .panel p:last-of-type {
  margin-bottom: 0;
}
/* line 252, ../sass/style.scss */
.page .panel .button {
  width: 100%;
}

/* line 261, ../sass/style.scss */
.service-list .service {
  position: relative;
  padding-left: 9.375em;
}
/* line 264, ../sass/style.scss */
.service-list .service:before {
  content: "";
  display: inline-block;
  padding: 0.3125em;
  position: absolute;
  left: -0.125em;
  top: -0.125em;
  font-family: "FoundationIcons";
  color: #d9d6d3;
  font-size: 6.875em;
}
/* line 275, ../sass/style.scss */
.service-list .service a {
  font-weight: bold;
  color: #473016;
}
/* line 279, ../sass/style.scss */
.service-list .service h4 {
  padding-bottom: 1.25em;
  border-bottom: 0.1875em solid #d9d6d3;
}
/* line 285, ../sass/style.scss */
.service-list .row:nth-child(1) .service:nth-child(1):before {
  content: "\f021";
}
/* line 288, ../sass/style.scss */
.service-list .row:nth-child(1) .service:nth-child(2):before {
  content: "\f022";
}
/* line 293, ../sass/style.scss */
.service-list .row:nth-child(2) .service:nth-child(1):before {
  content: "\f026";
}
/* line 296, ../sass/style.scss */
.service-list .row:nth-child(2) .service:nth-child(2):before {
  content: "\f028";
}
/* line 301, ../sass/style.scss */
.service-list .row:nth-child(3) .service:nth-child(1):before {
  content: "\f009";
}
/* line 304, ../sass/style.scss */
.service-list .row:nth-child(3) .service:nth-child(2):before {
  content: "\f00b";
}
/* line 309, ../sass/style.scss */
.service-list .row:nth-child(4) .service:nth-child(1):before {
  content: "\f00f";
}
/* line 312, ../sass/style.scss */
.service-list .row:nth-child(4) .service:nth-child(2):before {
  content: "\f010";
}

/* line 322, ../sass/style.scss */
.compare .columns:nth-child(1) .pricing-table {
  border: 3px solid #2a77b3;
}
/* line 325, ../sass/style.scss */
.compare .columns:nth-child(1) .pricing-table .title {
  background-color: #2a77b3;
  color: #fff;
}
/* line 329, ../sass/style.scss */
.compare .columns:nth-child(1) .pricing-table .price {
  color: #2a77b3;
  background-color: #91c0e5;
  font-weight: bold;
}
/* line 334, ../sass/style.scss */
.compare .columns:nth-child(1) .pricing-table .cta-button {
  background-color: #91c0e5;
}
/* line 337, ../sass/style.scss */
.compare .columns:nth-child(1) .pricing-table .button {
  background-color: #2a77b3;
}
/* line 339, ../sass/style.scss */
.compare .columns:nth-child(1) .pricing-table .button:hover {
  background-color: #539dd7;
}
/* line 345, ../sass/style.scss */
.compare .columns:nth-child(2) .pricing-table {
  border: 3px solid #95be60;
}
/* line 348, ../sass/style.scss */
.compare .columns:nth-child(2) .pricing-table .title {
  background-color: #95be60;
  color: #fff;
}
/* line 352, ../sass/style.scss */
.compare .columns:nth-child(2) .pricing-table .price {
  color: #95be60;
  background-color: #ddeacd;
  font-weight: bold;
}
/* line 357, ../sass/style.scss */
.compare .columns:nth-child(2) .pricing-table .cta-button {
  background-color: #ddeacd;
}
/* line 360, ../sass/style.scss */
.compare .columns:nth-child(2) .pricing-table .button {
  background-color: #95be60;
}
/* line 362, ../sass/style.scss */
.compare .columns:nth-child(2) .pricing-table .button:hover {
  background-color: #b9d496;
}
/* line 368, ../sass/style.scss */
.compare .columns:nth-child(3) .pricing-table {
  border: 3px solid #f2c265;
}
/* line 371, ../sass/style.scss */
.compare .columns:nth-child(3) .pricing-table .title {
  background-color: #f2c265;
  color: #fff;
}
/* line 375, ../sass/style.scss */
.compare .columns:nth-child(3) .pricing-table .price {
  color: #f2c265;
  background-color: #fefaf2;
  font-weight: bold;
}
/* line 380, ../sass/style.scss */
.compare .columns:nth-child(3) .pricing-table .cta-button {
  background-color: #fefaf2;
}
/* line 383, ../sass/style.scss */
.compare .columns:nth-child(3) .pricing-table .button {
  background-color: #f2c265;
}
/* line 385, ../sass/style.scss */
.compare .columns:nth-child(3) .pricing-table .button:hover {
  background-color: #f8deac;
}

/* line 402, ../sass/style.scss */
.contact .call-us {
  list-style: none;
  margin-top: 10px;
}
/* line 406, ../sass/style.scss */
.contact .call-us li {
  list-style: none;
  position: relative;
  margin-bottom: 10px;
  left: 30px;
}
/* line 411, ../sass/style.scss */
.contact .call-us li:before {
  font-family: "FoundationIcons";
  font-size: 1.5em;
  position: absolute;
  width: 18px;
  left: -30px;
  top: -5px;
}
/* line 420, ../sass/style.scss */
.contact .call-us .phone:before {
  content: "\f011";
}
/* line 423, ../sass/style.scss */
.contact .call-us .email:before {
  content: "\f007";
}
/* line 429, ../sass/style.scss */
.contact form .collapse:nth-of-type(2) span.prefix {
  border-left: 0px;
  border-right: 1px solid #d9d9d9;
}
/* line 433, ../sass/style.scss */
.contact form textarea {
  resize: none;
}

@media only screen and (max-width: 48em) {
  /* line 442, ../sass/style.scss */
  .footer {
    text-align: center;
  }
  /* line 444, ../sass/style.scss */
  .footer .footnav, .footer .social {
    margin-bottom: 20px;
  }
  /* line 446, ../sass/style.scss */
  .footer .footnav ul, .footer .social ul {
    float: none;
  }
  /* line 449, ../sass/style.scss */
  .footer .footnav li, .footer .social li {
    display: inline-block;
    float: none;
    margin-left: 10px;
    margin-right: 10px;
  }
}
