<div class="row content page about">
	<div class="lalrge-12 columns">
		
		<ul class="breadcrumbs">
			<li><a href="index.php">Home</a></li>
			<li class="current"><a href="#">About</a></li>
		</ul>

		<section class="row page intro">
			<div class="large-12 columns">
				<h2>About Us</h2>
				<h3 class="subheader">Tart croissant jelly beans oat cake donut.</h3>
				<p>Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat. </p>
			</div>
		</section>

		<div class="row story">
			<div class="large-8 columns">
				<h3 class="title-section">Our Story</h3>
				<p>I'm a Spalding Gray in a Rick Dees world. I'll keep it short and sweet — Family. Religion. Friendship. These are the three demons you must slay if you wish to succeed in business. I stand by my racial slur.</p>
				<p>The Internet King? I wonder if he could provide faster nudity… I prefer a vehicle that doesn't hurt Mother Earth. It's a go-cart, powered by my own sense of self-satisfaction. Fame was like a drug. But what was even more like a drug were the drugs. I can't go to juvie. They use guys like me as currency.</p>

				<div class="row">
					<div class="large-4 columns">
						<h4>Cookie lollipop</h4>
						<p>I don't like being outdoors, Smithers. For one thing, there's too many fat children. Weaseling out of things is important to learn.</p>
					</div>

					<div class="large-4 columns">
						<h4>Tiramisu cake</h4>
						<p>Can't you people take the law into your own hands? I mean, we can't be policing the entire city! I can't go to juvie. They use guys like me as currency.</p>
					</div>

					<div class="large-4 columns">
						<h4>Faworki apple</h4>
						<p>No children have ever meddled with the Republican Party and lived to tell about it. Rest assured, I was on the Internet within minutes.</p>
					</div>
				</div>

			</div>

			<aside class="large-4 columns">
				<h4>Aside</h4>
				<figure>
					<img src="images/about.jpg" alt="about us image">
				</figure>
				<blockquote><p>I don't like being outdoors, Smithers. For one thing, there's too many fat children. Weaseling out of things is important to learn. It's what separates us from the animals…except the weasel.<cite>Founder</cite></p></blockquote>
			</aside>
		</div>

	</div>
</div>