<div class="row content page contact">
	<div class="lalrge-12 columns">
		
		<ul class="breadcrumbs">
			<li><a href="index.php">Home</a></li>
			<li class="current"><a href="#">Contact Us</a></li>
		</ul>

		<section class="row page intro">
			<div class="large-12 columns">
				<h2>Contact Us</h2>
				<h3 class="subheader">Tart croissant jelly beans oat cake donut.</h3>
				<p>Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat. </p>
			</div>
		</section>

		<div class="row">
			<div class="large-7 columns">
				<figure>
					<a href="#" class="th"><img src="images/map.jpg"></a>
				</figure>
				<h3>Get in Touch</h3>
				<p>Get me a vodka rocks. And a piece of toast. I don't understand the question, and I won't respond to it. It's a hug, Michael. I'm hugging you.</p>

				<div class="panel">
					<div class="row">
						<div class="large-6 columns">
							<p>Now, when you do this without getting punched in the chest, you'll have more fun. Bad news. Andy Griffith turned us down. He didn't like his trailer. I'm half machine.</p>
						</div>

						<div class="large-6 columns">
							<ul class="call-us">
								<li class="phone">(000) 123-45678</li>
								<li class="email"><a href="#">johndoe@business.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="large-5 columns">
				<form method="get">
					<fieldset>
						<legend>Contact Form</legend>
						<div class="row">
							<div class="large-12 columns">
								<label>Name</label>
								<input type="text" name="name">
								<label>Email</label>
								<input type="email" name="email">
								<label>Twitter</label>
								<div class="row collapse">
									<div class="small-1 large-2 columns">
										<span class="prefix">@</span>
									</div>
									<div class="small-11 large-10 columns">
										<input type="text" placeholder="your email">
									</div>
								</div>
								<label>URL</label>
								<div class="row collapse">
									<div class="small-10 large-9 columns">
										<input type="url" placeholder="your website">
									</div>
									<div class="small-2 large-3 columns">
										<span class="prefix">.com</span>
									</div>
								</div>
							</div>
						</div>
						<label>Message</label>
						<textarea name="message"></textarea>
					</fieldset>
					<button class="button large radius" type="submit">Submit</button>
				</form>
			</div>
		</div>

	</div>
</div>