<!-- content -->
	<div class="row content home">
		<div class="large-12 columns">

<!-- slider -->
			<div class="row slideshow">
				<ul data-orbit>
					<li>
						<div class="large-6 columns">
							<h3>This is the first slide</h3>
							<p>Sweet roll cheesecake gingerbread fruitcake sweet roll. Marzipan sweet faworki carrot cake dragée lemon drops applicake muffin cotton candy.</p>
							<a href="#" class="large button radius hide-for-small">Click Me!</a>
						</div>
					</li>
					<li>
						<div class="large-6 columns">
							<h3>This is the second slide</h3>
							<p>Liquorice brownie sugar plum cookie lemon drops chocolate bar faworki chocolate bar. Carrot cake muffin cake topping.</p>
							<a href="#" class="large button radius hide-for-small">Click Me!</a>
						</div>
					</li>
					<li>
						<div class="large-6 columns">
							<h3>This is the third slide</h3>
							<p>Brownie gummi bears jujubes. Biscuit danish tootsie roll cotton candy oat cake jujubes dessert pastry bear claw.</p>
							<a href="#" class="large button radius hide-for-small">Click Me!</a>
						</div>
					</li>
					<li>
						<div class="large-6 columns">
							<h3>This is the last slide</h3>
							<p>Carrot cake apple pie sweet jelly beans jujubes dragée dessert cake. Cake cheesecake cookie sesame snaps tart applicake jelly bonbon.</p>
							<a href="#" class="large button radius hide-for-small">Click Me!</a>
						</div>
					</li>
				</ul>
			</div>
		
<!-- intro -->
		<div class="row intro">
			<div class="large-9 columns">
				<h3>Welcome to Our Website <small>Marzipan pudding candy applicake</small></h3>
				<p>Carrot cake apple pie sweet jelly beans jujubes dragée dessert cake. Cake cheesecake cookie sesame snaps tart applicake jelly bonbon.Marzipan pudding candy applicake.</p>
			</div>
			<div class="large-3 columns">
				<a href="#" class="large button radius">Take a Tour</a>
			</div>
		</div>

<!-- features -->
		<section class="row features">
			<div class="large-12 columns">

				<h3 class="title-section">Features</h3>
				<p>Liquorice brownie sugar plum cookie lemon drops chocolate bar faworki chocolate bar. Carrot cake muffin cake topping...</p>

				<div class="row">
					<div class="large-3 columns feature"><h4>Carrot cake</h4><p>Liquorice brownie sugar plum cookie lemon drops chocolate bar faworki chocolate bar.</p></div>
					<div class="large-3 columns feature"><h4>Carrot cake</h4><p>Liquorice brownie sugar plum cookie lemon drops chocolate bar faworki chocolate bar.</p></div>
					<div class="large-3 columns feature"><h4>Carrot cake</h4><p>Liquorice brownie sugar plum cookie lemon drops chocolate bar faworki chocolate bar.</p></div>
					<div class="large-3 columns feature"><h4>Carrot cake</h4><p>Liquorice brownie sugar plum cookie lemon drops chocolate bar faworki chocolate bar.</p></div>
				</div>
			</div>
		</section>

<!-- projects -->
		<section class="row projects">
			<div class="large-12 columns">

				<h3 class="title-section">Featured Projects</h3>
				<p>Sweet roll cheesecake gingerbread fruitcake sweet roll. Marzipan sweet faworki carrot cake dragée lemon drops applicake muffin cotton candy.</p>

				<div class="row">
					<div class="large-4 columns project">
						<figure>
							<a href="#" class="th radius">
								<img src="images/stat.png" alt="Analytic Application">
							</a>
						</figure>
						<h4>Jelly-o Sweet</h4>
						<p>Gummi bears biscuit souffle candy marshmallow. Tiramisu tart cupcake bear claw muffin cheesecake dragée toffee chocolate bar.</p>
					</div>
				
					<div class="large-4 columns project">
						<figure>
							<a href="#" class="th radius">
								<img src="images/cart.png" alt="Shopping Website">
							</a>
						</figure>
						<h4>Gingerbread Dessert</h4>
						<p>Tootsie roll candy liquorice cupcake cake donut brownie. Gingerbread dessert cake wafer pastry oat cake chupa chups pastry oat cake.</p>
					</div>
				
				
					<div class="large-4 columns project">
						<figure>
							<a href="#" class="th radius">
								<img src="images/growl.png" alt="OSX Notification, Growl">
							</a>
						</figure>
						<h4>Tiramisu Tart</h4>
						<p>Sweet dragée candy canes soufflé tart croissant. Tootsie roll candy canes donut applicake. Pudding jujubes brownie.</p>
					</div>

				</div>
			</div>
		</section>
		
	</div>
</div>