<!-- content container -->
<div class="row content page our-services">
	<div class="large-12 columns">
		<ul class="breadcrumbs">
			<li><a href="index.php">Home</a></li>
			<li class="current"><a href="#">Services</a></li>
		</ul>

		<section class="row page intro">
			<div class="large-12 columns">
				<h2>Our Services</h2>
				<h3 class="subheader">Tart croissant jelly beans oat cake donut.</h3>
				<p>Carrot cake apple pie sweet jelly beans jujubes dragée dessert cake. Cake cheesecake cookie sesame snaps tart applicake jelly bonbon.Marzipan pudding candy applicake.</p>
			</div>
		</section>

		<section class="row service-list">
			<div class="large-12 columns">
				<div class="row">
					<div class="large-6 columns service">
						<h4>Candy jelly beans</h4>
						<p>Liquorice brownie sugar plum cookie lemon drops chocolate bar faworki chocolate bar.<a href="#">Lear More &rarr;</a></p>
					</div>
					<div class="large-6 columns service">
						<h4>Raging Bender</h4>
						<p>I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope? The key to victory is discipline, and that means a well made bed. <a href="#">Lear More &rarr;</a></p>
					</div>
				</div>

				<div class="row">
					<div class="large-6 columns service">
						<h4>Candy jelly beans</h4>
						<p>Liquorice brownie sugar plum cookie lemon drops chocolate bar faworki chocolate bar  applicake muffin cotton candy.<a href="#">Lear More &rarr;</a></p>
					</div>
					<div class="large-6 columns service">
						<h4>Brownie carrot cake</h4>
						<p>Sweet roll cheesecake gingerbread fruitcake sweet roll. Marzipan sweet faworki carrot cake dragée lemon drops applicake muffin cotton candy.<a href="#">Lear More &rarr;</a></p>
					</div>
				</div>

				<div class="row">
					<div class="large-6 columns service">
						<h4>My Three Suns</h4>
						<p>Ah, the 'Breakfast Club' soundtrack! I can't wait til I'm old enough to feel ways about stuff! And when we woke up, we had these bodies. Interesting. <a href="#">Lear More &rarr;</a></p>
					</div>
					<div class="large-6 columns service">
						<h4>The Why of Fry</h4>
						<p>Shinier than yours, meatbag. Dear God, they'll be killed on our doorstep! And there's no trash pickup until January 3rd.<a href="#">Lear More &rarr;</a></p>
					</div>
				</div>
			</div>
		</section>

		<div class="panel">
			<div class="row">
				<div class="large-9 columns">
					<p>Ah, the 'Breakfast Club' soundtrack! I can't wait til I'm old enough to feel ways about stuff! And when we woke up, we had these bodies. Interesting...</p>
				</div>
				<div class="large-3 columns">
					<a href="pricing.php" class="button large radius">Pricing</a>
				</div>
			</div>
		</div>
	</div>
</div>